<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924723059686-57hmfpa4dk62cop0tqh5c02ju0smjeu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924723059686-57hmfpa4dk62cop0tqh5c02ju0smjeu0</string>
	<key>API_KEY</key>
	<string>AIzaSyCoRNS49QCO9Myl6piTwXN4icQ9Wq11jRc</string>
	<key>GCM_SENDER_ID</key>
	<string>924723059686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danilshvets.Memories3</string>
	<key>PROJECT_ID</key>
	<string>memoriesapp-d9697</string>
	<key>STORAGE_BUCKET</key>
	<string>memoriesapp-d9697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924723059686:ios:62b10e3ed1b064964f5427</string>
	<key>DATABASE_URL</key>
	<string>https://memoriesapp-d9697-default-rtdb.firebaseio.com</string>
</dict>
</plist>